{% load static %}
{% load film_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Сайт фильмов{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'films:index' %}">Главная</a> |
            <a href="{% url 'films:film_list' %}">Каталог</a> |
            <a href="{% url 'films:about' %}">О сайте</a>

            <span class="nav-auth">
                {% if user.is_authenticated %}
                    {% if perms.films.add_film %}
                    | <a href="{% url 'films:add_film' %}">Добавить фильм</a>
                    {% endif %}
                    {% if user.is_authenticated and user_profile and user_profile.avatar %}
                        <a href="{% url 'films:profile' %}">
                            | <img src="{{ user_profile.avatar.url }}" alt="{{ user.username }}" width="32">
                        </a>
                    {% endif %}
                    <a href="{% url 'films:profile' %}">
                        | {{ user.username }}
                    </a>
                    <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="nav-link-btn">Выйти</button>
                    </form>
                {% else %}
                    | <a href="{% url 'login' %}">Войти</a>
                {% endif %}
            </span>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <aside>
    {% latest_films 3 %}
    </aside>

    <footer>
        <p>В каталоге {{ total_films }} фильмов и {{ total_genres }} жанров</p>
        <p>© {% current_year %} Сайт фильмов</p>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>